<div class="outer">
	<h1>Companies</h1>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Active</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let company of companies">
					<td>{{ company.id }}</td>
					<td>{{ company.name }}</td>
					<td>{{ company.active }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="spacer-box"></div>

	<div class="container center-text">
		<h3 class=" font-weight-bold">Add Company</h3>
		<form [formGroup]="addCompaniesForm">
			<div class="form-group pt-3">
				<div class="input-field">
					<input formControlName="name" type="text" placeholder="Company Name">
				</div>
			</div>
			<!-- <div>
				<input type="radio" id="active" formControlName="active" value="true">
				<label for="active"> Is Active</label><br>
			</div> -->
			<div>
				<button (click)="onAddCompany()" type="submit" class="btn btn-primary m-4">Add
					Company</button>
			</div>
		</form>
	</div>
</div>