<nav class="navbar navbar-expand-lg" style="background-color: #F26825">
  <div class="container">
    <a class="navbar-brand" style="color: white" href="#">LTC Homework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a *ngIf="loggedIn" class="nav-link active" aria-current="page" style="color: white;" routerLink="login">Log
            In</a>
        </li>
        <li class="nav-item">
          <a (click)="logout()" *ngIf="!loggedIn" class="nav-link active" aria-current="page" style="color: white;"
            routerLink="">Log
            Out
          </a>
        </li>
      </ul>

    </div>
    <span *ngIf="!loggedIn" class="navbar-text username">User: {{ username }}</span>
  </div>
</nav>

<router-outlet></router-outlet>