<div class="outer">
	<div class="container">
		<div class="row">
			<div class="offset-md-2 mt-5 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
				<div class="panel border">
					<div class="panel-heading">
						<h3 class=" font-weight-bold">Log In</h3>
					</div>
					<div class="panel-body ">
						<form [formGroup]="loginForm">
							<div class="form-group pt-3">
								<div class="input-field">
									<input formControlName="email" type="email" placeholder="Email">
								</div>
							</div>
							<small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')"
								class="text-danger">**Email is required</small>
							<div class="form-group pt-3">
								<div class="input-field">
									<input formControlName="password" type="password" placeholder="Password">
								</div>
							</div>
							<small
								*ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')"
								class="text-danger">**Password is required</small>
							<div>
								<button (click)="onLogin()" type="submit" class="btn btn-primary m-4">Log In</button>
							</div>

							<div class="text-center pt-4 text-muted"><a id="signup" routerLink="/signup">Don't have an
									account?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>