.outer {
	height: 100vh;
	background-image: url('../../../../images/internalPages.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.container {
	background-color: rgba(250, 235, 215, 0.98);
	padding: 20px 30px;
	border-style: solid;
}

.spacer-box {
	height: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}