.outer {
	height: 100vh;
	background-image: url('../../../../images/internalPages.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.container {
	background-color: antiquewhite;
	padding-top: 10px;
	
}